<footer role="contentinfo" id="footer" <% if use_new_styles? %>class="ic-app-footer"<% end %>>
    <div class="content_wrapper" style="overflow: hidden;">
        <div id="footer-left" class="" style="float: left;">
            <p class="copyright">
                2013 Hispanic Scholarship Fund. All rights reserved.
                <span class="divider">|</span>
                <a href="http://www.hsf.net/en/media/press/">HSF Press</a>
                <span class="divider">|</span>
                <a href="http://www.hsf.net/en/about-hsf/privacy-policy/">Privacy Policy</a>
                <span class="divider">|</span>
            </p>
            <p>
                <a href="http://hsf.net/contact-us" target="_blank">Have questions, reach us here</a>
            </p>
        </div>
        <div id="footer-right" class="" style="float: right; text-align: right;">
            <p class="organization">1-877-HSF-INFO <span class="divider">|</span> 1411 W 190th Street, Suite 700, Gardena, CA 90248</p>
        </div>
    </div>
</footer>
