<div id="topbar" role="navigation" aria-label="<%= t('navigation.user_menu', 'User Menu') %>">
    <div class="content_wrapper">
        <ul class="hsf-menus">
            <li class="active"><a href="https://my.hsf.net">MyHSF</a></li>
            <li class=""><a href="http://hsfinder.net/">HSFinder</a></li>
            <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                    More <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="https://hsf.net/en/about-hsf/careers/">Careers</a></li>
                    <li><a href="https://shop.hsf.net">Shop</a></li>
                </ul>
            </li>
        </ul>
      <% if (identity = (yield :identity).presence) %>
        <%= identity %>
      <% else %>
        <%= render(:partial => 'shared/identity') %>
      <% end %>
    </div>
</div>
