<div id="topbar" role="navigation" aria-label="<%= t('navigation.user_menu', 'User Menu') %>">
  <div class="header_wrapper">
        <% if (identity = (yield :identity).presence) %>
        <%= identity %>
      <% else %>
        <%= render(:partial => 'shared/identity') %>
      <% end %>
  </div>
</div>
